.arkounay-image {
    transition: box-shadow 200ms;
    background-color: rgba(255, 255, 255, 0.85);
}

.arkounay-image-collection .row {
    cursor: move;
}

.arkounay-image.ui-sortable-helper {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.arkounay-image-list .ui-state-highlight {
    background-color: #fffad7;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.arkounay-image-file-input {
    display: none !important;
}

.arkounay-image label {
    white-space: nowrap;
}
.arkounay-image progress {
    width: 100%;
    display: block;
}

.arkounay-image img {
    max-width: 100%;
    max-height: 150px;
}

.arkounay-image progress {
    display: none;
}

.arkounay-image.is-dragover {
    background-color: #ffffc7;
    border: 1px dashed #ababab;
}

.arkounay-image-list .arkounay-image {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
}

.arkounay-image-list .arkounay-image img {
    max-width: 100%;
    max-height: 75px;
    margin: 0 auto;
}

.arkounay-image-list .collection-actions {
    clear: both;
}

.arkounay-image-list .actions .collection-remove {
    position: relative;
    right: 0;
    border-radius: 0;
    border: none;
    bottom: 5px;
}

.arkounay-image .img-preview {
    text-align: center;
    border: 1px solid #F0F0F0;
    min-height: 60px;
}

.arkounay-image .img-description table {
    float: left;
    width: calc(100% - 110px);
    min-height: 60px;
}

.arkounay-image .td-path {
    max-width: 35px;
}

.arkounay-image .img-description.img-description-collection table {
    width: calc(100% - 160px);
}

.arkounay-image table td {
    padding-bottom: 3px;
    text-align: center;
}

.arkounay-image .table-sort {
    position: relative;
    top: 12px;
    margin: 0 auto;
}

.arkounay-image .table-sort .table-sort-up {
    height: 15px;
}

.arkounay-image .upload {
    min-height: 60px;
    width: 110px;
    float: left;
}

.arkounay-image .upload .arkounay-image-button-upload {
    height: 34px;
    margin: 0 0 3px 5px;
}

.arkounay-image .upload-no-alt {
    padding-top: 10px;
    margin-top: 1px;
}

.arkounay-image .btn-x-sm {
    font-size: 11px;
    padding: 1px 7px;
    margin-left: 10px;
}